body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  /* font-family: Georgia, 'Times New Roman', Times, serif */
}

select, input[type='text'] {
  padding: 6px;
}

input[type='text'] {
  min-width: 400px;
}

button {
  padding: 10px;
  background-color: #3399FF;
  color: #FFFFFF;
  border: solid 1px #2277CC;
}

button:hover {
  background-color: #2277CC;
}

code {
  background-color: #CCCCCC;
}

.caixa {
  background-color: #EAEAEA;
  border: solid 1px #DDDDDD;
  padding: 5px;
  box-shadow: 0 0 2px 2px #CCCCCC;
  border-radius: 5px;
  margin-bottom: 1em;
}

.table-data {
  width: 100%;
  border: solid 1px #DDDDDD;
}

.table-data th,
.table-data td {
  text-align: left;
  border-bottom: solid 1px #DDDDDD;
  padding: 8px;
}

.table-data tr:last-child td {
  border-bottom: none;
}

.table-data tr:hover td {
  background-color: #f0f0f0;
}


.text-center {
  text-align: center !important;
}

.botoes {
  margin-bottom: 1em;
}

